<config>
    <trending>
        <name>Venom</name>
        <trailer>https://m.media-amazon.com/images/M/MV5BY2VkZDBkNWEtNjk3Ny00YTM0LWI3NzctYTU0MWIxOTM5Mzg3XkEyXkFqcGdeQXZ3ZXNsZXk@._V1_.jpg</trailer>
    </trending>
    <trending>
        <name>Inception</name>
        <trailer>https://imgd.aeplcdn.com/664x374/n/cw/ec/112947/wagon-r-2022-exterior-right-front-three-quarter-2.jpeg?isig=0</trailer>
    </trending>
    <trending>
        <name>Interstellar</name>
        <trailer>https://telegra.ph/file/f4edfbd83ec3150284aae.jpg</trailer>
    </trending>
    <trending>
        <name>Avatar</name>
        <trailer>https://i.ibb.co/TBhtKLkQ/IMG-20250209-162258-906.jpg</trailer>
    </trending>
    <trending>
        <name>The Dark Knight</name>
        <trailer>https://i.ibb.co/TBhtKLkQ/IMG-20250209-162258-906.jpg</trailer>
    </trending>
</config>
